body {
  background: blanchedalmond;
  font-family: sans-serif;
}

.wrapper {
  margin: 5rem auto;
  max-width: 40rem;
}

.text {
  border: 3px solid gainsboro;
  caret-color: hotpink;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.text:focus {
  outline: 1px solid hotpink;
  border: 3px solid hotpink;
}

.options {
  margin: 2rem 0;
  display: flex;
}

.options > label {
  margin-right: 1rem;
  background-color: gainsboro;
  padding: 0.9rem 1.25rem 0.8rem 0.75rem;
}

.result {
  background-color: gainsboro;
  padding: 1rem;
  min-height: 10rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666;
}
